@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,200&family=Mukta:wght@200&family=Tilt+Neon&display=swap');

body {  
    font-family: 'Literata', serif;
    background-color: #FDFCF7;
}


.book-div {
    border: 1px dashed black;
}

#page-title {
    display: flex;
    justify-content: center;
    font-size: 48px;
    padding: 48px;
}

#book-form {
    display: flex;
    justify-content: center;
    padding-bottom: 36px;
}

#page-text {
    display: flex;
    justify-content: center;
    padding-bottom: 36px;
}

#book-table {
    table-layout: fixed;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-title {
    text-align: left;
    border-bottom: 1px solid red;
}

#delete-title {
    width: 20px;
}

#table-data {
    text-align: start;
    width: 80%;
}

#table-data td {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E3DC;
}

/* .rating {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
} */

.delete-button, .read-button {
    font-family: 'Literata', serif;
    border: 1px solid #DAD9D4;
    border-radius: 5px;
    color: black;
    background-color: #E6E3DC;
}

.delete-button {
    position: relative;
    right: 50px;
}


